*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  -webkit-user-select:none;
  -webkit-app-region:none;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

@import url(https://fonts.googleapis.com/css?family=Roboto:100);

body{
  background-color:burlywood;
  display:grid;
  place-content:center;
  font-size: 3rem;
  font-family:Helvetica;
}

.calculator {
  background-color: black;
  height: 80vh;
  width: 50vh;
  border-radius: 1.5rem;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  display: flex;
  flex-direction: column;
  
}

.formulaScreen{
  height:8vh;
  color:white;
  text-align:right;
  font-size:1rem;
  padding-top:20px;
  padding-right:10px;
  overflow: hidden;
  
}

#display{
  color:white;
  text-align:right;
  overflow: hidden; /* Hide overflow */
  direction: ltr; /* Ensure text flows from left to right */
  /* Other properties like overflow, white-space, etc. */
  

}

.outputScreen{
  height:10vh;
}

.wrapper {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap:10px;
  margin: 15px;

}

.calcButton {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333; /* Optional: adds a border between buttons */
  font-size: 1.5rem; /* Adjust as needed */
  cursor: pointer; /* Changes cursor to pointer on hover */
  border-radius: 50%;
  
}

.calcButton.active {
  color:#FF9500;
  background-color: white !important; /* Replace with the color you want */
}

.calcButton.zero {
  grid-column: span 2; /* Span two columns as before */
  border-radius: 50px; /* Adjust this value to match the curve of the iPhone button */
  background-color: #1c1c1e; /* iPhone dark mode background color for buttons */
  color: white; /* Text color */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* iPhone-like font */
  font-size: 35px; /* Adjust as necessary */
  font-weight: 300; /* iPhone-like font weight */
  
  display: flex; /* Use flexbox to center the content */
  justify-content: flex-start; /* Align content to the left */
  align-items: center; /* Center content vertically */
  padding-left: 20px; /* Adjust the padding to match the iPhone style */
  /* You can adjust the padding-left as needed to position the '0' correctly */
}





#number, #zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #decimal{
  background-color: #505050;
}

#number:hover{
  background-color: #282828;
}


#operation, #equals, #add, #subtract, #multiply, #divide{
  background-color:#FF9500;
}


#operation:hover{
  background-color:#804B00;
}

#other, #clear{
  background-color:#D4D4D2;
  color:#1C1C1C;
}

#other:hover, #clear:hover{
  background-color:#6A6A69;
}
